[submodule "LAVIS"]
	path = LAVIS
	url = https://github.com/salesforce/LAVIS.git
[submodule "MoLingo"]
	path = MoLingo
	url = https://github.com/hynann/MoLingo.git
[submodule "MotionCLIP"]
	path = MotionCLIP
	url = https://github.com/GuyTevet/MotionCLIP.git
[submodule "ReMoDiffuse"]
	path = ReMoDiffuse
	url = https://github.com/MotrixLab/ReMoDiffuse.git
[submodule "RectifiedFlow"]
	path = RectifiedFlow
	url = https://github.com/gnobitab/RectifiedFlow.git
[submodule "VideoVAEPlus"]
	path = VideoVAEPlus
	url = https://github.com/VideoVerses/VideoVAEPlus.git
[submodule "open_flamingo"]
	path = open_flamingo
	url = https://github.com/mlfoundations/open_flamingo.git
[submodule "paper-writing-skills"]
	path = paper writing/Research-Paper-Writing-Skills
	url = https://github.com/Master-cai/Research-Paper-Writing-Skills.git
